body {
    background-color: green;
}
.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em;
}
#title-propierties{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 6em;
    color: orange;
    -webkit-text-stroke: 2px purple;
}
.game-controls{
    display: flex;
    align-items: center;
    justify-content: center;
}
#draw-card, #end-turn, #reset-game{
    margin: 1.5em;
}
.game-status {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: orange;
    -webkit-text-stroke: 0.3px purple;
    font-size: 1em;
    text-align: right;
}

#player-score, #opponent-score{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: orange;
    -webkit-text-stroke: 0,3px purple;
    font-size: 1em
}

.cards-hand{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10em;
}

.card{
    background-color: antiquewhite;
    height: 10em;
    width: 5em;
    margin: 1em;
}

.suit-container{
    font-size: 2em;
}

#top-suit-container{
    display: flex;
    align-items: end;
}

#bottom-suit-container{
    display: flex;
    align-items: end;
}